<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
">
<bean id="methodNamePointcut" class="org.springframework.aop.support.NameMatchMethodPointcut">
<property name="mappedName" value="add"/>
</bean>
<bean id="calculator" class="PkgImplementation.Calc"/>    
<bean id="logbefore" class="AOP.LogBefore"/>
<bean id="logafter" class="AOP.LogAfter"/>
<bean id="logreturn" class="AOP.LogAfterAdvice"/>
<bean id="advicor" class="org.springframework.aop.support.DefaultPointcutAdvisor" >
    <property name="pointcut" ref="methodNamePointcut"/>
    <property name="advice" ref="logbefore"/>
</bean>
<bean id="calcproxy" class="org.springframework.aop.framework.ProxyFactoryBean">
<property name="target" ref="calculator"/>
<property name="interceptorNames">
    <list>
        <value>advicor</value>
    </list>
</property>   
</bean>
</beans>
